/* Hero.css */
.slider-container {
    position: relative;
    width: 100%;
    height: 600px; /* Adjust height according to your design */
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease; /* Smooth transition between slides */
    width: 100%; /* Ensure slider takes full width of its container */
  }
  
  .slide {
    min-width: 100%;
    height: 400px; /* Maintain aspect ratio */
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }