.success-message {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 100px;
  }
  
  /* Style for the heading */
  .success-message h2 {
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
  }